In [2]:
import pandas as pd

In [6]:
def read_and_describe(filename):
    df = pd.read_csv(filename, names = ["filename", "deltaL", "deltaC", "deltaE"], sep=',')
    df.set_index("filename")
    return df.describe(percentiles = [.10, .25, .5, .75, .90])

# Original image - anonymisation with old pipeline

Comparison between the test images, not anonymised, and test images anonymised with no lighting direction and colour correction.

In [3]:
read_and_describe('deltas-origanon.csv')

            deltaL       deltaC       deltaE
count  2977.000000  2977.000000  2977.000000
mean      0.622098     0.840688     6.857506
std       0.552013     0.907252     1.705547
min       0.000413     0.000004     0.418217
25%       0.230762     0.272837     5.658284
50%       0.491537     0.586607     6.561452
75%       0.860069     1.131140     7.689704
max       5.894810    14.827500    21.076774

# Original image - anonymisation with new pipeline

## Light correction on RGB

Comparison between test images not anonymised and test images anonymised with color correction and lighting correction on RGB color space

In [4]:
read_and_describe('deltas-origrgb.csv')

            deltaL       deltaC       deltaE
count  2975.000000  2975.000000  2975.000000
mean      1.695975     0.863248     8.008847
std       1.493330     0.925879     2.307922
min       0.001264     0.000262     0.343548
25%       0.612394     0.281809     6.402756
50%       1.331100     0.623011     7.533776
75%       2.329635     1.141555     9.019930
max      14.575300    16.367900    24.797331

## Light correction on HSV

Comparison between test images not anonymised and test images anonymised with color correction and lighting correction on HSV color space

In [5]:
read_and_describe('deltas-orighsv.csv')

            deltaL       deltaC       deltaE
count  2970.000000  2970.000000  2970.000000
mean      0.568612     0.835120     6.111993
std       0.510631     0.903199     1.488887
min       0.000050     0.000517     0.418439
25%       0.204824     0.262617     5.102351
50%       0.443547     0.588348     5.832677
75%       0.786045     1.128525     6.806830
max       6.040400    14.643400    18.473788

## Light correction on YCbCr

Comparison between test images not anonymised and test images anonymised with color correction and lighting correction on YCbCr color space

In [6]:
read_and_describe('deltas-origycbcr.csv')

            deltaL       deltaC       deltaE
count  2966.000000  2966.000000  2966.000000
mean      0.209479     0.838135     5.861265
std       0.194725     0.877189     1.389386
min       0.000143     0.000446     0.465820
25%       0.075520     0.276184     4.917747
50%       0.162788     0.617433     5.617930
75%       0.287005     1.126745     6.529351
max       3.358960    14.883800    16.596924

# Anonymisation with old pipeline - Anonymisation with new pipeline

## Light correction on RGB

Comparison between test images anonymised with no lighting direction and colour correction and test images anonymised with color correction and lighting correction on RGB color space

In [7]:
read_and_describe('deltas-anonrgb.csv')

            deltaL       deltaC       deltaE
count  2963.000000  2963.000000  2963.000000
mean      1.252702     0.481201     3.138914
std       1.184685     0.507066     1.499594
min       0.000108     0.000040     0.301045
25%       0.430530     0.150547     2.158378
50%       0.944128     0.334432     2.732809
75%       1.689200     0.653560     3.655643
max      10.145500     5.523080    14.189799

## Light correction on HSV

Comparison between test images anonymised with no lighting direction and colour correction and test images anonymised with color correction and lighting correction on HSV color space

In [8]:
read_and_describe('deltas-anonhsv.csv')

            deltaL       deltaC       deltaE
count  2957.000000  2957.000000  2957.000000
mean      0.110153     0.070338     1.739040
std       0.116543     0.081315     0.549135
min       0.000158     0.000048     0.003334
25%       0.036409     0.021394     1.345289
50%       0.078551     0.048251     1.634356
75%       0.143997     0.090007     2.033950
max       1.296210     1.221110     5.848459

## Light correction on YCbCr

Comparison between test images anonymised with no lighting direction and colour correction and test images anonymised with color correction and lighting correction on YCbCr color space

In [9]:
read_and_describe('deltas-anonycbcr.csv')

            deltaL       deltaC       deltaE
count  2968.000000  2968.000000  2968.000000
mean      0.544071     0.588382     2.960727
std       0.520004     0.613204     0.883124
min       0.000122     0.000627     0.488380
25%       0.181566     0.184092     2.352519
50%       0.400170     0.414385     2.773433
75%       0.760874     0.805983     3.372226
max       6.360040     8.101570    10.146471

# Src - Deep

In [7]:
print(read_and_describe('srcdeep.csv').style.to_latex())

\begin{tabular}{lrrr}
 & deltaL & deltaC & deltaE \\
count & 100.000000 & 100.000000 & 100.000000 \\
mean & 1.004990 & 1.562351 & 3.058603 \\
std & 0.907277 & 0.746697 & 1.031957 \\
min & 0.042854 & 0.595376 & 1.360067 \\
10% & 0.136789 & 0.891877 & 2.053605 \\
25% & 0.356953 & 1.140027 & 2.370423 \\
50% & 0.775969 & 1.430880 & 2.954301 \\
75% & 1.405640 & 1.785162 & 3.391049 \\
90% & 2.229061 & 2.104187 & 4.100369 \\
max & 5.321610 & 5.293090 & 8.626517 \\
\end{tabular}

In [8]:
print(read_and_describe('anondeep.csv').style.to_latex())

\begin{tabular}{lrrr}
 & deltaL & deltaC & deltaE \\
count & 94.000000 & 94.000000 & 94.000000 \\
mean & 0.437974 & 1.336519 & 2.476180 \\
std & 0.385887 & 0.399194 & 0.506765 \\
min & 0.000329 & 0.641950 & 1.523172 \\
10% & 0.045255 & 0.940303 & 1.845189 \\
25% & 0.155342 & 1.106120 & 2.106299 \\
50% & 0.344353 & 1.270480 & 2.466800 \\
75% & 0.643720 & 1.472545 & 2.806042 \\
90% & 0.903928 & 1.883043 & 3.053646 \\
max & 2.172340 & 3.100300 & 4.158070 \\
\end{tabular}